form {
  display: grid;
  margin-block: 100px;
  margin-inline: 740px;
  grid-template-columns: auto;
  grid-template-rows: 280px 60px 500px;
  background-color: #dbdbdb;
  border-radius: 5px;
}

.backdrop {
  position: absolute;
  height: 280px;
  width: 405px;
  background-color: transparent;
}

.text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  margin-block: 2px;
  margin-inline-end: 5px;
}

.M-buttons {
  display: flex;
  justify-content: center;
  grid-row: 2;
}

.box {
  height: 100%;
  grid-row: 3;
}
.title {
  display: flex;
  align-items: center;
  font-size: 14px;
}

img {
  width: 50px;
}

.button-flex {
  display: flex;
  flex-direction: column;
  margin-inline: 15px;
}

.button {
  background-color: transparent;
  padding-inline: 0;
  padding-block: 0;
  width: 6%;
}
h1 {
  margin-block-start: 5px;
  font-size: 60px;
  color: black;
}
.h1-dark {
  color: white;
}

h3 {
  color: #363a38;
  font-weight: 100;
  margin-block-end: 5px;
  margin-inline-start: auto;
  font-size: 17px;
}

.h3-dark {
  color: white;
}
