@keyframes slideUp {
  from {
    transform: translateY(475px);
    height: 0%;
  }

  to {
    transform: translateY(0);
    height: 100%;
  }
}

.conteiner {
  animation-name: slideUp;
  animation-duration: 0.18s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 90%;
  padding-block: 10px;
  padding-inline: 5px;
  overflow: auto;
  margin-inline-end: 5px;
}

.tab::-webkit-scrollbar {
  width: 3px;
}

.tab::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 10px;
}

.tab::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.tab::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

ul:hover {
  display: flex;
  inline-size: 100%;
  padding-block: 10px;
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s;
}
ul:active {
  font-size: 15px;
}

li {
  list-style: none;
}

h5 {
  margin-block-start: 0;
  padding-block-start: 10px;
  padding-inline: 10px;
  text-align: left;
  font-weight: 100;
  font-size: 17px;
}

.memory-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-block-start: 10px;
}

.memory-div:hover {
  background-color: rgba(0, 0, 0, 0.068);
}

.button-pos {
  display: flex;
  height: 30px;
  padding: 0px;
  margin-inline-end: 5px;
  margin-block-end: 5px;
}

.m-btn {
  color: black;
  background-color: rgb(255, 255, 255);
  margin: 1px;
  height: 40%;
  width: 40%;
  padding: 15px;
  font-size: 14px;
}
.m-btn:hover {
  background-color: rgba(255, 255, 255, 0.685);
}

.m-btn:active {
  background-color: rgba(255, 255, 255, 0.863);
}

.m-btn-dark {
  color: white;
  margin: 2px;
  height: 40%;
  width: 40%;
  padding: 15px;
  font-size: 14px;
}
.m-btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.201);
}

.m-btn-dark:active {
  background-color: rgba(255, 255, 255, 0.146);
}

.button {
  margin-inline-start: 360px;
  margin-block: 6px;
  padding-inline: 0;
  padding-block: 0;
  width: 7%;
  background: transparent;
}

.result {
  font-size: 20px;
}

.result2 {
  margin-block: 1px;
  margin-inline: 0px;
  font-size: 25px;
}

.data {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 5px;
  
}

span {
  font-weight: bold;
}
